<ion-header>
  <ion-toolbar>
    <ion-title>chapter4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="font-family:Garamond, Georgia, Times, Serif">“It’s never the person who you most suspect. It’s also never the person you least suspect since anyone with half a brain would suspect them the most. Therefore, I know the killer to be Phyllis… The person who I most medium suspect.” — Dwight Schrute</p>
  <ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter5']">Continue</ion-button>

</ion-content>