<ion-header>
  <ion-toolbar>
    <ion-title>chapter1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="font-family:Garamond, Georgia, Times, Serif">“The principle is sound. To avoid illness, expose yourself to germs, enabling your immune system to develop antibodies. I don’t know why everyone doesn’t do this… Maybe they have something against living forever.” — Dwight Schrute</p>
  <ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter2']">Continue</ion-button>

</ion-content>
